<body onkeydown="loginKeydown()">
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div align="center">
    <form id="changePasswordForm" >
        <div>
            <label>原密码</label>
            <input type="password" name="oldPassword" id="oldPassword">
        </div>
        <div>
            <label>新密码</label>
            <input type="password" name="newPassword" id="newPassword">
        </div>
        <div>
            <label>确认密码</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
        </div>
        <div>
            <a id="changePassword" class="easyui-linkbutton" iconCls="icon-ok" href="javascript:void(0)"
               onclick="changePassword()">确认</a>
            <button class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" typr="reset">取消</button>
        </div>
    </form>
</div>
<script src="$!{CONTEXT_PATH}/static/javascript/home/user/common/changePassword.js"></script>